body {
  font-family: Poppins, sans-serif;
  background: linear-gradient(135deg, #ff9800, #111);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  width: 100%;
  background: #111;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #ff9800;
}

a {
  color: #ff9800;
  text-decoration: none;
}
